body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.header_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_home h1 {
  font-family: Shrikhand;
}

.header_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.header_menu h1 {
  font-family: Shrikhand;
  flex: 1;
  text-align: center;
  padding-right: 20px;
}
.header_menu a {
  padding-left: 20px;
}
.header_menu a i {
  font-size: 32px;
  color: black;
}

.header_location {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
  box-shadow: inset 0 5px 4px -2px #cfcfcf;
}

footer {
  background-color: #434343;
  padding: 20px 25px;
}
@media screen and (min-width: 769px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer img {
  width: 30%;
}
@media screen and (min-width: 769px) {
  footer img {
    width: 15%;
  }
}
@media screen and (min-width: 992px) {
  footer img {
    width: 10%;
  }
}
footer ul {
  list-style: none;
  padding: 0;
  line-height: 25px;
}
@media screen and (min-width: 769px) {
  footer ul {
    display: flex;
    gap: 50px;
  }
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a i {
  margin-right: 10px;
}

.btn {
  border-radius: 30px;
  border: none;
  height: 40px;
  padding: 0 20px;
  font-weight: 500;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: #c2c2c2 0 4px 7px;
}
.btn--command {
  padding: 0 40px;
}

.presentation {
  background-color: rgba(247, 247, 247, 0.4196078431);
  text-align: center;
  padding: 40px 52px;
}
.presentation h2 {
  margin: 0;
}
.presentation p {
  font-weight: 300;
}

.functions {
  padding: 15px 10px 30px 20px;
}
@media screen and (min-width: 769px) {
  .functions h2 {
    text-align: center;
  }
}
.functions ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  counter-reset: my-counter;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .functions ol {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
}
.functions ol li {
  padding: 25px 0 25px 20px;
  display: flex;
  align-items: baseline;
  border-radius: 25px;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  background-color: #f5f5f5;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  counter-increment: my-counter;
}
.functions ol li:hover {
  background-color: gainsboro;
}
@media screen and (min-width: 992px) {
  .functions ol li {
    width: 30%;
  }
}
.functions ol li i {
  margin-right: 25px;
}
.functions ol li i:hover {
  color: #9356DC;
}
.functions ol li p {
  margin: 0;
}
.functions ol li::before {
  content: counter(my-counter);
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  margin-left: -32px;
  margin-right: 32px;
  padding: 5px 9px;
}

.restaurants {
  padding: 10px 15px 50px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 769px) {
  .restaurants h2 {
    text-align: center;
  }
}
.restaurants__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 769px) {
  .restaurants__tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurants__tab .restaurants__card {
  height: 230px;
  width: 97%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;
}
@media screen and (min-width: 769px) {
  .restaurants__tab .restaurants__card {
    width: 47%;
  }
}
.restaurants__tab .restaurants__card a {
  text-decoration: none;
  color: black;
}
.restaurants__tab .restaurants__card a .new {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 1px;
  font-weight: 500;
}
.restaurants__tab .restaurants__card a .new p {
  margin: 0;
  color: #278870;
}
.restaurants__tab .restaurants__card a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 160px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__tab .restaurants__card a .restaurants__presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.restaurants__tab .restaurants__card a .restaurants__presentation .restaurants__presentation-description h3 {
  margin: 0;
}
.restaurants__tab .restaurants__card a .restaurants__presentation .restaurants__presentation-description p {
  margin: 0;
  font-weight: 400;
}
.restaurants__tab .restaurants__card a .restaurants__presentation .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
}

main {
  background-color: #f5f5f5;
  margin: 0;
}
main .picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 260px;
}
main .restaurant {
  border-radius: 50px 50px 0 0;
  padding: 30px 14px 0;
  background-color: #f5f5f5;
  transform: translateY(-45px);
}
main .restaurant__name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main .restaurant__name h2 {
  font-family: Shrikhand;
  font-size: 28px;
}
main .restaurant__name .heart i {
  font-size: 28px;
  margin-right: 20px;
}
@media screen and (min-width: 769px) {
  main .restaurant__name {
    width: 100%;
  }
}
main .restaurant__subpart {
  padding: 15px 0;
}
main .restaurant__subpart h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
main .restaurant__subpart h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
main .restaurant__subpart article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  overflow: hidden;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
main .restaurant__subpart article .restaurant__dish {
  width: 80%;
  padding: 13px 0 13px 13px;
}
main .restaurant__subpart article .restaurant__dish .restaurant__dish-name {
  font-weight: 600;
  margin: 0 0 5px 0;
  font-size: 16px;
}
main .restaurant__subpart article .restaurant__dish p {
  font-weight: 300;
  margin: 0;
  font-size: 14px;
}
@media screen and (min-width: 769px) {
  main .restaurant__subpart article .restaurant__dish {
    width: 70%;
  }
}
main .restaurant__subpart article span {
  font-weight: 600;
  right: 17px;
  bottom: 17px;
  position: absolute;
}
@media screen and (min-width: 769px) {
  main .restaurant__subpart {
    width: 31%;
  }
}
main .restaurant .button {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  main .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */