@import "tools/variables";
@import "tools/general";
@import "tools/mixin";

@import "layout/header";
@import "layout/footer";

@import "components/buttons";

@import "pages/home";
@import "pages/menu";