footer {
    background-color: $neutral2;
    padding: 20px 25px;

    img{
        width: 30%;
        @media screen and  (min-width:769px) and (max-width: 991px){
            width: 15%;
        }
        @media screen and (min-width:992px) {
            width: 10%;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        line-height: 25px;

        li {
            a {
                text-decoration: none; 
                color: white;
                i{
                    margin-right: 10px;
                }
            }
        }
    }
}