.btn {
    border-radius: 30px;
    border: none;
    height: 40px;
    padding: 0 20px;
    font-weight: 500;
    color: white;
    background: linear-gradient(175deg, $secondary, $primary);
    cursor: pointer;
    box-shadow: darken($neutral, 20%) 0 4px 7px;
    &--command{
        padding: 0 40px;
    }
    &:hover{
        opacity: 0.8;
        box-shadow: darken($neutral, 40%) 0 4px 7px;
    }
}
.button {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}