.presentation {
    background-color: #f7f7f76b;
    text-align: center;
    padding: 40px 52px;

    h2 {
        margin: 0;
    }

    p {
        font-weight: 300;
    }
}

.functions {
    padding: 15px 10px 30px 20px;

    h2 {
        @media screen and (min-width:769px) {
            text-align: center;
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        counter-reset: my-counter;
        padding: 0;

        @media screen and (min-width:992px) {
            flex-direction: row;
            justify-content: center;
            gap: 25px;
        }

        li {
            padding: 25px 0 25px 20px;
            display: flex;
            align-items: baseline;
            border-radius: 25px;
            width: 90%;
            font-weight: bold;
            font-size: 16px;
            background-color: $neutral;
            box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
            counter-increment: my-counter;

            &:hover {
                background-color: lighten($primary, 25%);
                color: $primary;

                p {
                    color: black;
                }
            }

            i {
                margin-right: 25px;
            }

            p {
                margin: 0;
            }

            &::before {
                content: counter(my-counter);
                background-color: $primary;
                border-radius: 50px;
                color: white;
                margin-left: -32px;
                margin-right: 32px;
                padding: 5px 9px;
            }

            @media screen and (min-width:992px) {
                width: 30%;
            }
        }
    }
}

.restaurants {
    padding: 10px 15px 50px;
    background-color: $neutral;

    h2 {
        @media screen and (min-width:769px) {
            text-align: center;
        }
    }

    &__tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media screen and (min-width:769px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__card {
        height: 230px;
        width: 97%;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        position: relative;

        @media screen and (min-width:769px) {
            width: 47%;
        }


        a {
            text-decoration: none;
            color: black;

            .new {
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: $tertiary;
                padding: 5px 10px;
                border-radius: 1px;
                font-weight: 500;

                p {
                    margin: 0;
                    color: darken($tertiary, 40%)
                }
            }

            img {
                object-fit: cover;
                height: 160px;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
    }

    &__presentation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;

    }

    &__presentation-description {
        h3 {
            margin: 0;
        }

        p {
            margin: 0;
            font-weight: 400;
        }
    }
}