main {
    background-color: $neutral;
    margin: 0;

    .picture {
        img {
            object-fit: cover;
            width: 100%;
            height: 260px;

            @media screen and (min-width:769px) {
                height: 385px;
            }
        }
    }

    .restaurant {
        border-radius: 50px 50px 0 0;
        padding: 30px 14px 0;
        background-color: $neutral;
        transform: translateY(-45px);

        &__name {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            h2 {
                font-family: Shrikhand;
                font-size: 28px;
            }

            .heart {
                i {
                    font-size: 28px;
                    margin-right: 20px;
                }
            }

            @media screen and (min-width:769px) {
                width: 100%;
            }
        }

        &__subpart {
            padding: 15px 0;

            h3 {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;

                &::after {
                    content: "";
                    display: block;
                    width: 40px;
                    height: 3px;
                    background-color: $tertiary;
                    margin-top: 5px;
                }
            }

            article {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                background-color: white;
                border-radius: 15px;
                margin-top: 15px;
                overflow: hidden;
                box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
                position: relative;
                animation: slide 0.8s linear;
                animation-fill-mode: both;
                span {
                    font-weight: 600;
                    right: 17px;
                    bottom: 17px;
                    position: absolute;
                }
            }

            @media screen and (min-width:769px) {
                width: 31%;
            }
        }

        &__dish {
            width: 80%;
            padding: 13px 0 13px 13px;

            p {
                // font-weight: 300;
                margin: 0;
                font-size: 14px;
            }

            @media screen and (min-width:769px) {
                width: 70%;
            }
        }

        &__dish-name {
            font-weight: 600;
            margin: 0 0 5px 0;
            font-size: 16px;
        }

        .button {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media screen and (min-width:769px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}