@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    50% {
        opacity: 0, 5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.restaurant__subpart {
    .item-1 {
        animation-delay: 0.1s;
    }

    .item-2 {
        animation-delay: 0.2s;
    }

    .item-3 {
        animation-delay: 0.3s;
    }

    .item-4 {
        animation-delay: 0.4s;
    }

    .item-5 {
        animation-delay: 0.5s;
    }

    .item-6 {
        animation-delay: 0.6s;
    }

    .item-7 {
        animation-delay: 0.7s;
    }

    .item-8 {
        animation-delay: 0.8s;
    }

    .item-9 {
        animation-delay: 0.9s;
    }

    .item-10{
        animation-delay: 1s;
    }
}